---
const { selectedItem } = Astro.props;
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="/assets/dan.jpg"
          loading="eager"
          alt="Profile picture"
          class="niv-image"
        />
        <div>
          <div class="label-white">Daniel Nolan</div>
          <div class="label-gray">Software Engineer</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === "home" ? "w--current" : ""
        }`}
      >
        <img
          src="/assets/home.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Home</div>
      </a>
      <a
        href="/software-development"
        class={`nav-link-container w-inline-block ${
          selectedItem === "software-development" ? "w--current" : ""
        }`}
        aria-current={selectedItem === "software-development"
          ? "page"
          : undefined}
      >
        <img
          src="/assets/code.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Software development</div>
      </a>

      <a
        href="/quake-2"
        class={`nav-link-container w-inline-block ${
          selectedItem === "quake-2" ? "w--current" : ""
        }`}
        aria-current={selectedItem === "quake-2"
          ? "page"
          : undefined}
      >
        <img
          src="/assets/quake-2.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Quake 2</div>
      </a>

      <a
        href="/personal-projects"
        class={`nav-link-container w-inline-block ${
          selectedItem === "personal-projects" ? "w--current" : ""
        }`}
        aria-current={selectedItem === "personal-projects"
          ? "page"
          : undefined}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="nav-link-image"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776"
          ></path>
        </svg>

        <div>Personal Projects</div>
      </a>

      <a
        href="/contact"
        class={`nav-link-container w-inline-block ${
          selectedItem === "contact" ? "w--current" : ""
        }`}
        aria-current={selectedItem === "contact"
          ? "page"
          : undefined}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="nav-link-image"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          ></path>
        </svg>
        <div>Contact</div>
      </a>
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img src="/assets/menu.svg" loading="eager" alt="" class="navbar-icon" />
    </div>
  </div>

  <script>
    import { setupNav } from "../scripts/nav.js";

    let cleanup: any;
    document.addEventListener("astro:page-load", () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener("astro:before-swap", () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
